.index{
    padding: 6.25rem 0rem 6.25rem 15rem;
    background: linear-gradient(rgb(39, 43, 57), rgb(39, 43, 57)), url(../img/recenbg.png);
    background-size: cover;
    background-position: center; /* Center the background image */
    position: relative;
    margin-bottom: 7.5rem;

}
.up{
    padding-right: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.12rem;

}
.up h2{
    color: #FFF;
font-family: Lexend Deca;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
.up span{
    color: var(--yellow, #F5C33D);
}
.down {
    display: flex;
    gap: 0.6rem;
    overflow-x: auto;

  }

  /* Hide the scrollbar and customize its appearance for Webkit-based browsers */
  .down::-webkit-scrollbar {
    width: 0.5rem; /* Width of the scrollbar track */
  }

  .down::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the scrollbar thumb */
  }
  .bg{
    position: absolute;
    left: 0;
   bottom: 2px;

  }
